@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,
body {
	font-family: 'Jost';
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
p,
div,
a,
input,
textarea,
span {
	font-family: 'Jost';
}

h2 {
	text-align: center;
	font-size: 36px;
	line-height: 48px;
	text-transform: uppercase;
	font-weight: 600;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.content {
	flex: 1 0 auto;
}

footer {
	flex: 0 0 auto;
}

.top__container {
	width: 100%;
	display: flex;
}

.container {
	padding: 0 20px;
	max-width: 1270px;
	margin: 0 auto;
}

.top {
	padding: 8px 0;
	display: flex;
}

.top a {
	color: #282739;
	font-size: 12px;
}

.top__left {
	display: flex;
}

.top-callback {
	line-height: 120%;
}

.top__mess-icons {
	display: flex;
	flex-wrap: wrap;
	margin-left: 25px;
}

.top__mess-icons-whats,
.top__mess-icons-telegram,
.top__mess-icons-viber {
	width: 12px;
	height: 12px;
	margin-left: 10px;
	margin-top: 0px;
	background-repeat: no-repeat;
}

.top__mess-icons-whats {
	background-image: url('img/whats.svg');
}

.top__mess-icons-viber {
	background-image: url('img/viber.svg');
}

.top__mess-icons-telegram {
	background-image: url('img/telegram.svg');
}

.top__right {
	margin-left: auto;
	display: flex;
}

.top__plus {
	width: 18px;
	height: 18px;
	background: url('img/top_plus.svg') no-repeat 50% 50%;
}

.top__right-mail {
	margin-right: 22px
}

.top__right-tel {
	margin-right: 15px;
}

.header {
	margin-top: 30px;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}

.header__logo {
	width: 133px;
	height: 40px;
	background: url('img/logo.svg') no-repeat 50% 50%;
}

.header__logo-area {
	display: flex;
}

.header__descr {
	font-size: 14px;
	line-height: 16px;
	color: #A9A9A9;
	margin-left: 20px;
	margin-top: 5px;
	max-width: 50px;
}

.search {
	width: 53.2%;
	margin-left: 123px;
	position: relative;
	overflow: hidden;
	border: 2px solid #0468FF;
	border-radius: 8px;
}

.search input[type='text'] {
	width: 100%;
	padding: 11px;
	border: 0
}

.search input[type='text']:focus {
	outline: none
}

.search input[type='submit'] {
	width: 56px;
	height: 46px;
	top: 0;
	right: -4px;
	background: #0468FF;
	text-indent: -1000px;
	border: 0;
	position: absolute;
}

.header__func-area {
	display: flex;
	flex-wrap: wrap;
	margin-left: auto
}

.top__compare,
.top__fav,
.top__cart {
	width: 20px;
	height: 20px;
	margin-right: 25px;
	display: block;
	background-repeat: no-repeat;
	margin-top: 15px;
}

.top__compare {
	background-image: url('img/compare.svg');
}

.top__fav {
	background-image: url('img/fav.svg');
}

.top__cart {
	width: auto;
	margin-right: 0;
	margin-top: 10px;
	padding-left: 32px;
	background-image: url(img/cart_icon.svg);
	font-size: 14px;
}

.menu {
	width: 100%;
	margin-top: 30px;
}

.top__menu-catalog-button {
	width: 260px;
	height: 55px;
	padding-left: 25px;
	font-size: 17px;
	line-height: 24px;
	border: 0;
	background: #0468FF;
	border-radius: 12px;
	color: #fff;
}

.menu {
	display: flex;
	border: 2px solid #F4F5F6;
	box-sizing: border-box;
	border-radius: 15px;
}

.menu nav {
	display: flex;
	align-items: center;
}

nav ul {
	display: flex;
	margin-left: 65px;
}

nav ul li {
	list-style-type: none;
	margin-right: 56px;
}

nav ul li a {
	font-size: 14px;
	font-weight: 500;
}

nav ul li a.events_icon {
	background: url('img/events_icon.svg') no-repeat 100% 50%;
	padding-right: 28px;
}

main {
	margin-top: 22px;
}

.breadcrumbs {
	margin-bottom: 20px;
}

.breadcrumbs a,
.breadcrumbs span {
	font-size: 12px;
	line-height: 17px;
}

.breadcrumbs a.home {
	background: url('img/breadcrumb_main.svg') no-repeat;
	padding-left: 20px;
}

.entertainment__list {
	margin-top: 42px;
	grid-template-columns: 68.5%;
	grid-template-rows: 224px 224px;
	grid-row-gap: 32px;
	grid-column-gap: 34px;
	display: grid;
}

.entertainment__list-item:first-child .entertainment__list-text-area {
	margin-top: 36px;
	margin-left: 60px;
	width: 40%;
}

.entertainment__list-text-area {
	margin-top: 31px;
	margin-left: 28px;
	position: absolute;
}

.entertainment__list-item {
	position: relative;
	overflow: hidden;
	border-radius: 20px;
}

.entertainment__list-item img {
	display: block;
	margin-left: auto;
}

.entertainment__list-item:first-child .entertainment__list-item-description {
	margin-top: 12px;
	font-size: 24px;
	line-height: 34px;
}

.entertainment__list-item:first-child {
	grid-row: 1 / 3;
}

.entertainment__list-item:nth-child(2) {
	grid-column: 2 / 4;
}

.entertainment__list-item:nth-child(3) {
	grid-column: 2 / 4;
	grid-row: 2
}

.entertainment__list-item:nth-child(3) .entertainment__list-item-title {
	max-width: 100px;

}

.entertainment__list-item:first-child .entertainment__list-item-title {
	font-size: 36px;
	line-height: 140%;
}

.entertainment__list-item-description,
.entertainment__list-item-price,
.entertainment__list-item-title {
	z-index: 2;
	position: relative;
	color: #fff;
}

.entertainment__list-item-title {
	font-size: 21px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 120%;
}

.entertainment__list-item:after {
	content: "";
	position: absolute;
	width: 36%;
	top: 0;
	left: 0;
	border-top: 503px solid #0468FF;
	border-right: 144px solid transparent;
}

.entertainment__list-item:first-child:after {
	border-top: 503px solid #0468FF;
	border-right: 144px solid transparent;
}

.entertainment__list-item:nth-child(2):after {
	border-top: 389px solid #0468FF;
	border-right: 110px solid transparent;
}

.entertainment__list-item:nth-child(3):after {
	border-left: 49px solid #0468FF;
	border-right: 64px solid transparent;
	border-bottom: 228px solid #0468FF;
	border-top: 0
}

.entertainment__list-catalog-link {
	bottom: 11%;
	left: 6%;
	position: absolute;
}

.button-light {
	padding: 15px 28px 15px;
	background: #fff;
	z-index: 3;
	border-radius: 12px;
	font-weight: 500;
	font-size: 18px;
	line-height: 20px;
}

.entertainment__list-detail-link {
	position: absolute;
	padding-right: 20px;
	background: url('img/entertainment__list-arrow-right.svg') no-repeat 100% 50%;
	z-index: 3;
	bottom: 10%;
	left: 8%;
	color: #fff;
	font-size: 16px;
	line-height: 26px;
}

.advantages {
	margin-top: 55px;
	margin-bottom: 55px;
	height: 104px;
	display: flex;
	background: #F4F5F6;
	align-items: center;
	justify-content: space-between;
	padding: 0 0px 0 107px;
	border-radius: 20px;
}

.advantages__item {
	background-repeat: no-repeat;
	width: 25%;
	padding-top: 10px;
	padding-left: 65px;
	padding-right: 92px;
	height: 50%;
	background-position-y: 50%;
}

.profitable__offer {
	background: radial-gradient(76.7% 707.77% at 23.3% 72.57%, #0468FF 0%, #0049B8 100%)
		/* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
	;
	border-radius: 22px;
	height: 421px;
	position: relative;
	overflow: hidden;
}

.profitable__offer:after {
	content: "";
	position: absolute;
	width: 682px;
	height: 385px;
	bottom: 0;
	background: url('img/child.png') no-repeat;
}

.profitable__offer-text-area {
	width: 44%;
	height: 100%;
	color: #fff;
	margin-left: auto;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
}

.profitable__offer-text-area>div {
	margin-top: 15px;
}

.profitable__offer-tag {
	background: #FF1820;
	border: 1px solid #AB0F56;
	box-sizing: border-box;
	border-radius: 6px;
	display: inline-block;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	padding: 2px 13px;
}

.profitable__offer-title {
	font-weight: 600;
	font-size: 35px;
	line-height: 51px;
	text-transform: uppercase;
	margin-bottom: 15px;
	margin-top: 10px;
}

.profitable__offer-text {
	line-height: 155%;
}

.profitable__offer-button {
	margin-top: 36px;
	padding: 10px 24px;
	font-size: 16px;
	display: inline-block;
}

.with__us {
	margin-top: 90px;

}

.with__us-blocks {
	margin-top: 72px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.with__us-blocks-item {
	width: 49%;
	margin-bottom: 12px;
	padding-top: 24px;
	padding-left: 145px;
	padding-right: 30px;
	padding-bottom: 25px;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-color: #F4F5F6;
	border-radius: 22px;
	background-position: 6% 45%;
}

.with__us-blocks-title {
	font-size: 18px;
	line-height: 24px;
	font-weight: 600;
	margin-bottom: 8px;
}

.with__us-blocks-descr {
	font-size: 14px;
	line-height: 20px;
}

.with__us-how {
	display: flex;
	align-items: center;
	color: #fff;
	background-color: #0468FF;
}

.with__us-how .with__us-blocks-title {
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
}

.with__us-how.with__us-blocks-item {
	padding-left: 35px;
}

.index__socials-block {
	margin-top: 88px;
}

.index__socials-descr {
	margin: 15px auto;
	font-size: 24px;
	line-height: 120%;
	text-align: center;
	color: #777777;
	max-width: 66%;
}

.index__socials-items {
	display: flex;
	justify-content: space-between;
	max-width: 938px;
	margin: 0 auto;
}

.index__socials-item {
	width: 132px;
	margin-top: 6.3%;
	text-align: center;
	display: block;
}

.index__socials-pic {
	width: 132px;
	height: 132px;
	display: inline-block;
	background-color: #F4F5F6;
	;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border-radius: 22px;
}

.index__socials-text {
	font-size: 24px;
	line-height: 48px;
	text-align: center;
	color: #1A1C23;
	margin-top: 23px;
	display: inline-block;
}

.index__em-text {
	margin-top: 90px;
}

.index__em-text-desc {
	margin-top: 39px;
	font-weight: 500;
	font-size: 24px;
	line-height: 35px;
	text-align: center;
}

.index__em-types-descr {
	margin-top: 23px;
	text-align: center;
}

.msize-text {
	font-weight: 500;
	font-size: 24px;
	line-height: 35px;
}

.index__benefits {
	margin-top: 113px;
	margin-bottom: 70px;
}

.index__benefits-descr {
	margin-top: 25px;
	text-align: center;
}

.index__em-types {
	margin-top: 45px;
}

.index__em-list {
	margin-top: 65px;
}

.index__em-list ul {
	max-width: 1240px;
	margin: 0 auto;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.index__em-list ul li {
	width: 47%;
	padding-left: 30px;
	background: url(img/CheckCircle.svg) no-repeat;
	margin-top: 10px;
	line-height: 26px;
}


.page__caption {
	background: blue;
}

h1 {
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 35px;
	line-height: 60px;
}

.footer__mess-icons-whats,
.footer__mess-icons-viber,
.footer__mess-icons-telegram {
	width: 31px;
	height: 31px;
	margin-right: 10px;
}

.footer__mess-icons-whats {
	background-image: url('img/footer__whats.svg');
}

.footer__mess-icons-viber {
	background-image: url('img/footer__viber.svg');
}

.footer__mess-icons-telegram {
	background-image: url('img/footer__telegram.svg');
}

footer {
	padding-top: 48px;
	background: #F4F5F6;
}

.footer__mess-area-text {
	width: 35%;
	font-size: 24px;
	line-height: 120%;
	font-weight: 600;
}

.footer_mess-area-text a {
	color: #0468fe
}

.footer__messengers {
	margin-top: 15px;
	display: flex;
}

.footer__mess-area {
	border-bottom: 1px solid #dedfe0;
	padding-bottom: 25px;
}

.footer__info-area {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 9px;
	border-bottom: 1px solid #dedfe0;
}

.footer__logo {
	width: 100%;
	height: 100px;
	background: url(img/logo.svg) no-repeat 0% 50%;
	background-size: 164px;
}

.footer__contacts {
	display: flex;
	width: 30%;
	align-items: flex-start;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: flex-start;
}

.footer__contacts a,
.footer__contacts div {
	color: #1A1C23;
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding-left: 25px;
}

.footer__tel {
	background-image: url('img/footer__tel.svg');
}

.footer__mail {
	background-image: url('img/footer__mail.svg');
	margin-left: 12px;
}

.footer__location {
	background-image: url('img/footer__location.svg');
	width: 100%;
	margin-top: 16px;
}

.footer__menu {
	display: flex;
	flex-wrap: wrap;
	margin-left: auto;
	position: relative;
	top: -46px;
}

.footer__menu ul {
	margin-left: 63px;
	list-style: none;
}

.footer__menu ul li {
	margin-bottom: 7px;
}

.footer__menu ul a {
	font-size: 20px;
}

.footer__bottom-area {
	padding: 15px 0;
	display: flex;
	flex-wrap: wrap;
}

.footer__bottom-area span {
	font-size: 14px;
	line-height: 24px;
}

.footer__company-name {
	margin-left: 8px;
}

.footer__bottom-menu {
	margin-left: auto;
}

.footer__bottom-menu ul {
	display: flex;
	list-style: none;
	font-size: 14px;
	line-height: 24px;
}

.footer__bottom-menu ul li {
	margin-left: 35px;
}

.category__slider {
	padding-bottom: 50px;
}

.category__slider--all {
	display: flex;
	justify-content: flex-end;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	display: flex;
	align-items: center;
	color: #777777;
	margin-top: -25px;
	padding-bottom: 39px;
}

.category__slider--all:after {
	content: "";
	position: relative;
	margin: 3px 12px 0px 0;
	width: 10px;
	height: 9px;
	background-color: red;
	background: url(img/arrow-gray.svg) no-repeat 100% 100%;
}

.category__slider-items {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.cat1 {
	background-image: url(/img/category1.JPG);
	height: 414px;
	width: 23%;
	border-radius: 32px;
}

.category__slider-wrapper {
	position: relative;
}

.category__slider-wrapper::after {
	position: absolute;
	content: '';
	background: #1A1C23;
	opacity: 0.5;
	display: block;
	border-radius: 32px;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;

}

.category__slider-txt {
	width: 80%;
	margin-left: 23px;
	padding: 10px;
	bottom: 30px;
	position: absolute;
	z-index: 10;
	font-weight: 600;
	font-size: 20px;
	line-height: 29px;
	text-transform: uppercase;
	color: #FFFFFF;
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(20px);
	border-radius: 30px;
}

.category__slider-txt span {
	display: block;
	max-width: 144px;

}

.category__slider-txt span::after {
	position: relative;
	content: '';
	padding-right: 20px;
	background: url(img/entertainment__list-arrow-right.svg) no-repeat 100% 50%;
	left: 88%;
	color: #fff;
	font-size: 16px;
	line-height: 26px;
}

.programm__slider {
	padding-bottom: 50px;
}

.programm__slider-items--all {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.programm__slider-items {
	cursor: pointer;
	position: relative;
	max-width: 49%;
	margin-bottom: 26px;
	-webkit-transition: all 1s ease-out;
}

.programm__slider-items::after {
	position: absolute;
	content: '';
	background: #1A1C23;
	opacity: 0.5;
	display: block;
	border-radius: 32px;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

.programm__slider-items:hover {
	box-shadow: 0px 0px 32px rgba(51, 51, 52, 0.5);
	transform: scale(1.05);
}

.programm__slider-txtblock {
	padding-left: 45px;
	padding-top: 32px;
	position: absolute;
	z-index: 2;
}

.programm__slider-txt1 {
	max-width: 60%;
	padding-bottom: 9px;
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.programm__slider-txt2 {
	max-width: 350px;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 26px;
	color: #FFFFFF;
}

.prog1 {
	width: 49%;
	border-radius: 32px;
	height: 316px;
	background-image: url(/img/prog1.jpg);
}

.prog2 {
	width: 49%;
	border-radius: 32px;
	height: 316px;
	background-image: url(/img/prog-page/prog2.jpg);
}

.prog3 {
	width: 49%;
	border-radius: 32px;
	height: 316px;
	background-image: url(/img/prog-page/prog3.png);
}

.prog4 {
	width: 49%;
	border-radius: 32px;
	height: 316px;
	background-image: url(/img/prog-page/prog4.png);
}

.prog5 {
	width: 49%;
	border-radius: 32px;
	height: 316px;
	background-image: url(/img/prog-page/prog5.png);
}

.prog6 {
	width: 49%;
	border-radius: 32px;
	height: 316px;
	background-image: url(/img/prog-page/prog6.png);
}

/* Programms Page */
.promo {
	position: relative;
	margin-bottom: 62px;
}

.promo-h1 {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding-left: 76px;
}

.promo__img {
	border-radius: 22px;
}

.pb50 {
	padding-bottom: 50px;
}

.pp {
	margin-bottom: 24px;
	height: 414px;
	width: 23%;
	border-radius: 32px;
}

.p1 {
	background-image: url(/img/podborki-page/p1.png);
}

.p2 {
	background-image: url(/img/podborki-page/p2.png);
}

.p3 {
	background-image: url(/img/podborki-page/p3.png);
}

.p4 {
	background-image: url(/img/podborki-page/p4.png);
}

.p5 {
	background-image: url(/img/podborki-page/p5.png);
}

.p6 {
	background-image: url(/img/podborki-page/p6.png);
}

.p7 {
	background-image: url(/img/podborki-page/p7.png);
}

.p8 {
	background-image: url(/img/podborki-page/p8.png);
}

.p9 {
	background-image: url(/img/podborki-page/p9.png);
}

.p10 {
	background-image: url(/img/podborki-page/p10.png);
}

.p11 {
	background-image: url(/img/podborki-page/p11.png);
}

.p12 {
	background-image: url(/img/podborki-page/p12.png);
}

.p13 {
	background-image: url(/img/podborki-page/p13.png);
}

.p14 {
	background-image: url(/img/podborki-page/p14.png);
}

.p15 {
	background: #0468FF;
}

.category__slider-wrapper:last-child::after {
	display: none;
}

.inner-h2 {
	font-weight: 600;
	font-size: 35px;
	text-align: left;
	text-transform: uppercase;
	color: #282739;
}

.inner-h3 {
	font-weight: 500;
	font-size: 24px;
	color: #1A1C23;
	padding-top: 50px;
	padding-bottom: 30px;
}

hr {
	background: #C1C9D2;
	opacity: 0.3;
	height: 1px;
	border-width: 0px;
}

.rekvizity-page {
	padding: 16px 0;
	color: #1A1C23;

	font-weight: 400;
	font-size: 18px;
}

.rekvizity-page span {
	display: inline-block;
	color: #A9A9A9;
	width: 296px;
}

.columns-2 {
	column-count: 2;
	column-gap: 30px;

	column-rule: 2px solid black;
}

figure {
	border: 1px solid;
	break-inside: avoid;
}

.rekvizity__all-txt {
	column-width: 48%;
	column-count: 2;
	column-gap: 4%;
	background: #fff2e1;
}

.question-block {
	padding: 77px 0;
	margin-top: 44px;
	margin-bottom: 49px;
	background: #F4F7FB;
	border-radius: 22px;
}
.question-block input {
    margin-bottom: 20px;
    width: 211px;
    height: 53px;
   padding: 0;
}
.question-block-txt1 {
	padding-left: 82px;
	font-weight: 600;
	font-size: 35px;
	text-transform: uppercase;
	color: #282739;
}

.question-block-txt2 {
	padding-top: 13px;
	padding-bottom: 38px;
	padding-left: 82px;
	max-width: 502px;
	font-weight: 400;
	font-size: 16px;
	color: #282739;
}
.question-block-form {padding-left: 82px;}
.consult-txt__personal {
	align-items: stretch;
	padding-top: 23px;
	display: flex;
	padding-left: 82px;
}
.question-block input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin-right: 12px;
    
    border-radius: 5;
}
.question-block button {
	margin-left: 20px;
	padding: 20px 25px;
	cursor:pointer;
    -webkit-appearance: none;
    border: 0;
    outline: none;
	background: #0468FF;
border-radius: 5px;
    color: #fff;
   
	font-weight: 400;
	font-size: 16px;
}
.consult-txt__personal p {
	max-width: 307px;
	line-height: 12px;
	font-weight: 400;
font-size: 12px;
}
input[type=text]::placeholder {
	font-size: 14px;
padding-left: 10px;
}
input[type="text"] {
	font-size: 14px;
    padding-left: 28px;
 }